.card {
  @include radius;
  background-color: $white;
  width: 25rem;
  overflow: hidden;

  /* Secend method to centering card */
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50% ,-50%);

  img{
    margin-bottom: $mb-2;
    width: 100%;
    height: 100%;
  }
}


.content{
  text-align: center;
  padding: 0rem 3rem;
  h2{
    margin-bottom: 20px;
    color: $Dark-blue;
    font-weight: 900;
    
  }

  .discribtion{
    color: $Desaturated-blue;
    font-size: $text-size;
    margin-bottom: $mb-1;
  }

  .song{
    @include radius;
    @include centering;
    justify-content: space-between;
    height: auto;
    background-color: $very-pale-blue;
    padding: 15px;
    margin-bottom: $mb-1;

    &-info{
      @include centering;

      div{
        margin-right: 10px;
        text-align: right;
        h5{
          margin-bottom: 5px;
          font-weight: 900;
          font-size: $text-size;
        }

        p{
          font-weight: 500;
          font-size: $text-size;
          color: $Desaturated-blue;
        }
      }
    }

    &-change{
      font-size: $text-size;
      font-weight: 700;

      &:hover{
        color: $hover;
      }
    }
  }

  button{
    background-color: $bright-blue;
    margin-bottom: $mb-1;
    color: $white;
    font-size: $text-size;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;

    &:hover{
      background-color: $hover;
    }

  }

  .cancel{
    color: $Desaturated-blue;
    margin-bottom: $mb-2;
    display: block;
    font-weight: 700;
    text-decoration: none;

    &:hover{
      color: $Dark-blue;
    }
  }
}